---
layout: basic
title: Kai Wang
custom: home
description: ""
comments: false
---
<div class="content">
	<div class="header">
		<div class="word">
			<div class="welcome1">WEL</div>
			<div class="welcome2">COME</div>
			<div class="intro"><span>Hello.</span> I’m a designer who codes. I strive to create simple, original, and impactful user experiences. I take on projects of all sizes; from web design and build, to product and system design. I’ve led the design and creative direction of products, teams, and design systems at Adobe and WeWork in New York City. I am now a freelance web designer and developer based in Los Angeles. I'm the author of Laying the Foundations and founder of Club of the Waves. Please do say hello — I look forward to hearing about your project.</div>
		</div>
		<div class="pic"><img src="images/me2.jpeg"></div>
		<div><a href="profile" class="detail"> Detail -></a></div>
	</div>
	<div class="bk">
		<div class="margin">
			<div class="project-gp">
				{% for project in site.categories.projects %}
				{% if forloop.first %}
				<div class="col1">
				{% elsif forloop.index0 == 2 %}
				</div>
				<div class="col2">
				{% elsif forloop.index0 == 4 %}
				</div>
				<div class="col3">
				{% endif %}
				<div class="project-bk">
					<div class="url">{{ site.url }}{{ project.url }}</div>
					<div class="pic {{ project.color }}"></div>
					<div class="container">
						<div class="job">Programmer</div>
						<div class="title">{{ project.title }}</div>
						<div class="more">Learn More</div>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="split">
		<div class="title">Sometimes I write about design & development</div>
		<div class="desc">Below are links to articles I’ve written.</div>
	</div>
	<div class="bk2">
		<div class="margin">
			<div class="writing-gp">
			{% assign sorted = (site.categories.writings | sort: 'date') | reverse %}
			{% for post in sorted %}
				{% assign remainder = forloop.index0 | modulo: 2 %}
				{% if remainder == 0 %}
					<div class="col">
						<div class="writing-bk">
							<div class="url">{{ site.url }}{{ post.url }}</div>
							<div class="pic"></div>
							<div class="container">
								<div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
								<div class="title">{{ post.title }}</div>
								<div class="more">
									Read Now
									<div class="bot-border"></div>
								</div>
							</div>
						</div>
				{% else %}
						<div class="writing-bk">
							<div class="url">{{ site.url }}{{ post.url }}</div>
							<div class="pic"></div>
							<div class="container">
								<div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
								<div class="title">{{ post.title }}</div>
								<div class="more">
									Read Now
									<div class="bot-border"></div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
				<!--div class="col">
					<div class="writing-bk">
						<div class="pic"></div>
						<div class="container">
							<div class="date">Nov 2019</div>
							<div class="title">What is a design system?</div>
							<div class="more">Read Now</div>
						</div>
					</div>
					<div class="writing-bk">
						<div class="pic"></div>
						<div class="container">
							<div class="date">Nov 2019</div>
							<div class="title">What is a design system?</div>
							<div class="more">Read Now</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="writing-bk">
						<div class="pic"></div>
						<div class="container">
							<div class="date">Nov 2019</div>
							<div class="title">What is a design system?</div>
							<div class="more">Read Now</div>
						</div>
					</div>
					<div class="writing-bk">
						<div class="pic"></div>
						<div class="container">
							<div class="date">Nov 2019</div>
							<div class="title">What is a design system?</div>
							<div class="more">Read Now</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="writing-bk">
						<div class="pic"></div>
						<div class="container">
							<div class="date">Nov 2019</div>
							<div class="title">What is a design system?</div>
							<div class="more">Read Now</div>
						</div>
					</div>
					<div class="writing-bk">
						<div class="pic"></div>
						<div class="container">
							<div class="date">Nov 2019</div>
							<div class="title">What is a design system?</div>
							<div class="more">Read Now</div>
						</div>
					</div>
				</div-->
			</div>
		</div>
	</div>
	<div class="contact">
		<div class="title">Let's Work Together</div>
		<div class="social-gp">
			<div class="social-item"><i class="fab fa-facebook-f"></i></div>
			<div class="social-item"><i class="fab fa-linkedin-in"></i></div>
			<div class="social-item"><i class="fab fa-twitter"></i></div>
		</div>
		<div class="email"><i class="far fa-envelope"></i>Contact Me</div>
	</div>
</div>