<div class="social-gp">
  <div class="social-item"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span><i class="fab fa-facebook-f"></i></span></a></div>
  <div class="social-item"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span><i class="fab fa-twitter"></i></span></a></div>
  <div class="social-item"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><span><i class="fab fa-google-plus-g"></i></span></a></div>
</div>