* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
body {
    background: white;
}
html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
a {
    text-decoration: none;
}
.menu-btn {
    position: fixed;
    top: 20px;
    right: 40px;
    color: #f00658;
    font-size: 30px;
    display: none;
    cursor: pointer;
}
.nav {
    position: fixed;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background: white;
    z-index: 999;
}
.menu {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.menu-item {
    width: fit-content;
    height: 79px;
    line-height: 79px;
    margin: 0 20px;
    font-size: 18px;
    color: #f00658;
    text-decoration-color: #f00658;
    cursor: pointer;
    transition: 0.4s;
    border-bottom: 1px solid transparent;
    white-space: nowrap;
}
.menu-item:hover .bot-border {
    width: 100%;
}
.bot-border {
    width: 0;
    height: 1px;
    background: #f00658;
    transition: 0.4s;
    transform: scaleX(1.2);
}
@media (max-width: 1080px) {
    .menu {
        width: calc(100% - 160px);
        margin: 0 80px;
    }
}
@media (max-width: 700px) {
    .menu {
        width: 100%;
        margin: 0;
        display: none;
        box-shadow: 0 0 2px #f0065870;
    }
    .menu-item {
        margin: 0;
        text-align: center;
        width: 100%;
        background: white;
    }
    .menu-btn {
        display: block;
    }
    .show {
        display: block;
    }
}
@media (max-width: 500px) {
    .menu-btn {
        position: fixed;
        top: 20px;
        right: 10px;
    }
} 

