.project-bk .yellow {
    background: #ffd31d;
}
.project-bk .blue {
    background: #98d6ea;
}
.project-bk .black {
    background: #21243d;
}
.project-bk .green {
    background: #7fcd91;
}
.project-bk .red {
    background: #f00658;
}
.project-bk .mint {
    background: #64b2cd;
}