<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}

<div class="sidebar"></div>
<div class="content">
  <div class="bar">
    <div class="home">
      Home
      <div class="bot-border"></div>
    </div>
    <div class="back">
      Back
      <div class="bot-border"></div>
    </div>
    <div class="menu-btn"><i class="fas fa-bars"></i></div>
  </div>
  <div class="title">{{ page.title }}</div>
  <div class="detail">
    {{ content }}
  </div>
  {% if page.share != false %}{% include social-share.html %}{% endif %}
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  {% if site.related_posts.size > 0 %}{% include read-more.html %}{% endif %}
</div>

{% include scripts.html %}	        

</body>
</html>
